@tailwind base;
@tailwind components;
@tailwind utilities;

.height{
    height: calc(100-48px);
}

.bike-image {
    width: 490px; /* Adjust the size as needed */
    height: auto;
    
  }
  .prebook-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #ff6347; /* Change to desired color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    transition-duration: 1s;
  }
  .prebook-button:hover {
    background-color: #1b116b; /* Change to desired hover color */
  }
.card{
 width: 474px;
 height: 350px;
 background-color: rgb(20, 19, 19);
 border-radius: 15px;
 box-sizing: 10px 15px #2b2929;
    


}
.h1rhyno{
@apply opacity-0
}
